*{
	padding : 0;
	margin: 0;
}
a{
	text-decoration: none;
	color:#79797b;
}
li{
	list-style: none;
}
.header{
	height: 135px;
	width: 100%;
	#title{
		height: 30px;
		width: 100%;
		background: #f7f7f7;
		#titlemiddle{
			width: 1300px;
			height: 28px;
			margin: 0 auto;
			font-size: 12px;
			margin-top: 2px;
			#titlemiddleleft{
				float: left;
			}
			#titlemiddleright{
				float: right;
				width: 520px;
				height: 18px;
				.titlemenu{
					font: 12px/1.5 Arial,"宋体";
					padding: 0 15px;
					position: relative;
					float: left;
					height: 30px;
					a{
						color: #79797b;
						b{
							position: absolute;
							top:13px;
							right: 0;
							border: 5px solid;
							border-color: #CCC transparent transparent;
						}
					}
					a:hover{
						color: #f44236;
					}
					
				}
				#div04{
						#nav{
							position: absolute;
							top: 30px;
							background:  #f7f7f7;
							border:1px solid #000;
							a{
								display: none;
								height: 25px;
								width: 80px;
								padding-left: 10px;
							}
						}
					}
				#div04:hover{
					#nav{
						a{
							display: block;
						}
					}
				}
				#div05{
					float: right;
				}
				#div06{
					float: right;
					#navs{
						position: absolute;
						top:30px;
						width: 200px;
						height: 300px;
						
						display: none;
						#QRCode1{
							position: relative;
							width: 200px;
							height: 100px;
							border: 1px solid #CCC;
							#QRCode11{
								float: left;
								background-image: url(../src/img/app-tongyongerweima.png);
								background-size: contain;
								width: 75px;
								height: 75px;
								margin: 13px 0 12px 12px;
							}
							#QRCode111{
								float: right;
								padding-right: 4px;
								h4{
									padding-top: 15px;
								}
								p{
									padding-top: 10px;
									color:#DC143C;
								}
							}
						}
						#QRCode2{
							position: relative;
							width: 200px;
							height: 100px;
							border: 1px solid #CCC;
							border-top: transparent;
							top: 100px;
							#QRCode21{
								float: left;
								background-image: url(../src/img/youshangchuangyishenghuo.jpg);
								background-size: contain;
								width: 75px;
								height: 75px;
								margin: 13px 0 12px 12px;
							}
							#QRCode211{
								float: right;
								padding-right: 4px;
								h4{
									padding-top: 15px;
								}
								p{
									padding-top: 10px;
									color:#DC143C;
								}
							}
						}
						#QRCode3{
							position: relative;
							width: 200px;
							height: 100px;
							border: 1px solid #CCC;
							border-top: transparent;
							top: 200px;
							#QRCode31{
								float: left;
								background-image: url(../src/img/youshangmeizhuang.png);
								background-size: contain;
								width: 75px;
								height: 75px;
								margin: 13px 0 12px 12px;
							}
							#QRCode311{
								float: right;
								padding-right: 4px;
								h4{
									padding-top: 15px;
								}
								p{
									padding-top: 10px;
									color:#DC143C;
								}
							}
						}
					}
				}
				#div06:hover{
					#navs{
						display: block;
					}
				}
			}
		}
		.titlelogo{
			width: 1300px;
			height: 105px;
			margin: 0 auto;
			#titlelogotop{
				float: left;
				padding-top: 25px;
				#D1youshang{
					float: left;
					background-image: url(../src/img/erweima2.jpg);
					width: 170px;
					height: 62px;
					background-position: -215px -148px;
				}
				.D1nav{
					float: left;
					width: 320px;
					height: 32px;
					padding-top: 20px;
					.D1li{
						float: left;
						width: 80px;
						height: 21px;
						text-align: center;
					}
				}
				.search{
					float: left;
					width: 400px;
					height: 42px;
					padding-left: 40px;
					#search1{
						float: left;
						width: 254px;
						height: 36px;
						border:2px solid #f0414e;
					}
					#search2{
						float: left;
						width: 76px;
						height: 40px;
						background: #f0414e;
						color:white;
						text-align: center;
						line-height: 40px;
					}
				}
			}
		}
	}
}