
*{
	padding : 0;
	margin: 0;
}
body,html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color:#79797b;
}
li{
	list-style: none;
}
.header{
	height: 135px;
	width: 100%;
	#title{
		height: 30px;
		width: 100%;
		background: #f7f7f7;
		#titlemiddle{
			width: 980px;
			height: 28px;
			margin: 0 auto;
			font-size: 12px;
			margin-top: 2px;
			#titlemiddleleft{
				float: left;
				position: relative;
				top: 5px;
			}
			#titlemiddleright{
				float: right;
				width: 520px;
				height: 18px;
				position: relative;
				top:4px;
				li{
					a{
						margin-top: 8px;
					}
				}
				.titlemenu{
					font: 12px/1.5 Arial,"宋体";
					padding: 0 15px;
					position: relative;
					float: left;
					height: 30px;
					a{
						color: #79797b;
						b{
							position: absolute;
							top:8px;
							right: 0;
							border: 5px solid;
							border-color: #CCC transparent transparent;
						}
					}
					a:hover{
						color: #f44236;
					}
					
				}
				#div04{
						#nav{
							position: absolute;
							top: 26px;
							left: -4px;
							background:  #f7f7f7;
							border:1px solid #000;
							z-index: 5000;
							#menulist{
								display: none;
								height: 25px;
								width: 80px;
								padding-left: 10px;
							}
						}
					}
				#div04:hover{
					#nav{
						#menulist{
							display: block;
						}
					}
				}
				#div05{
					float: right;
				}
				#div06{
					float: right;
					#navs{
						position: absolute;
						top:30px;
						width: 200px;
						height: 300px;
						z-index: 5000;
						display: none;
						#QRCode1{
							position: relative;
							width: 200px;
							height: 100px;
							border: 1px solid #CCC;
							background: #fff;
							#QRCode11{
								float: left;
								background-image: url(../src/img/app-tongyongerweima.png);
								background-size: contain;
								width: 75px;
								height: 75px;
								margin: 13px 0 12px 12px;
							}
							#QRCode111{
								float: right;
								padding-right: 4px;
								h4{
									padding-top: 15px;
								}
								p{
									padding-top: 10px;
									color:#DC143C;
								}
							}
						}
						#QRCode2{
							position: relative;
							width: 200px;
							height: 100px;
							border: 1px solid #CCC;
							border-top: transparent;
							top: 100px;
							background: #fff;
							#QRCode21{
								float: left;
								background-image: url(../src/img/youshangchuangyishenghuo.jpg);
								background-size: contain;
								width: 75px;
								height: 75px;
								margin: 13px 0 12px 12px;
							}
							#QRCode211{
								float: right;
								padding-right: 4px;
								h4{
									padding-top: 15px;
								}
								p{
									padding-top: 10px;
									color:#DC143C;
								}
							}
						}
						#QRCode3{
							position: relative;
							width: 200px;
							height: 100px;
							border: 1px solid #CCC;
							border-top: transparent;
							top: 200px;
							background: #fff;
							#QRCode31{
								float: left;
								background-image: url(../src/img/youshangmeizhuang.png);
								background-size: contain;
								width: 75px;
								height: 75px;
								margin: 13px 0 12px 12px;
							}
							#QRCode311{
								float: right;
								padding-right: 4px;
								h4{
									padding-top: 15px;
								}
								p{
									padding-top: 10px;
									color:#DC143C;
								}
							}
						}
					}
				}
				#div06:hover{
					#navs{
						display: block;
					}
				}
			}
		}
		.titlelogo{
			width: 980px;
			height: 105px;
			margin: 0 auto;
			#titlelogotop{
				float: left;
				padding-top: 25px;
				#D1youshang{
					float: left;
					background-image: url(../src/img/erweima2.jpg);
					width: 170px;
					height: 62px;
					background-position: -215px -148px;
				}
				.D1nav{
					float: left;
					width: 320px;
					height: 32px;
					padding-top: 20px;
					.D1li{
						float: left;
						width: 80px;
						height: 21px;
						text-align: center;
					}
					.D1li:hover a{
						color:red;
					}
				}
				.search{
					float: left;
					width: 340px;
					height: 42px;
					padding-top: 20px;
					#search1{
						float: left;
						width: 250px;
						height: 32px;
						border:2px solid #f0414e;
					}
					#search2{
						float: left;
						width: 76px;
						height: 36px;
						background: #f0414e;
						color:white;
						text-align: center;
						line-height: 36px;
					}
				}
				.shop{
					float: left;
					width: 150px;
					height: 35px;
					background-image: url(../src/img/erweima2.jpg);
					background-position: 0 -274px;
					margin-top: 20px;
					.shopmassage{
						padding: 6px 0px 0 50px;
						a{
							color:black;
							font-size: 14px;
							em{
								color:red;
								font-style: normal;
							}
						}
						
						b{
							position: relative;
							top:13px;
							right: -6px;
							border: 5px solid;
							border-color: red transparent transparent;
						}
						#shopcar{
							width: 407px;
							border: 2px solid red;
							border-radius: 5px;
							position: relative;
							top: 8px;
							left: -310px;
							z-index: 5001;
							background:#FFFFFF;
							display: none;
							table{
								border: none;
								tr{
									td{
									border: none;
									}
									td:nth-child(1){
										width: 60px;
										height: 40px;
									}
									td:nth-child(2){
										width: 250px;
										height: 40px;
										font-size: 12px;
										line-height: 40px;
									}
									td:nth-child(3){
										width: 100px;
										height: 40px;
									}
								}
							}
							.shopcarmenu{
								height: 38px;
								line-height: 30px;
								background: #f9f9f9;
								font-size: 12px;
								em{
									 font-style: normal;
									 color: red;
									 font-size: 14px;
								}
								span{
									padding: 0 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}

#maxmenu{
	width: 980px;
	height: 38px;
	border: 1px solid #CCC;
	margin: 0 auto;
	#maxmenu1{
		width: 500px;
		height: 38px;
		p{
			float: left;
			font-size: 12px;
			height: 38px;
			line-height: 38px;
			padding: 0 5px;
		}
		#baihuo{
			box-sizing: border-box;
			float: left;
			font-size: 12px;
			height: 36px;
			width: 100px;
			line-height: 38px;
			padding: 0 2px;
			.xiaobaihuo{
				padding-right: 30px;
			}
			#card{
				display: none;
				a:hover{
					color:red;
				}
			
			}
			
			b{
				position: absolute;
				top:156px;
				left: 400px;
				border: 5px solid;
				border-color: black transparent transparent;
			}
			i{
				position: absolute;
				top:151px;
				left: 400px;
				border: 5px solid;
				border-color: transparent transparent black;
				display: none;
			}
			#card{
				    position: absolute;
					top: 174px;
					left: 325px;
					border: 1px solid #cc0033;
					background: #fff;
					padding: 5px;
					width: 360px;
					z-index: 1000;
					a{
						padding-right: 80px;
					}
			}
		}
		#baihuo:hover #card{
			display: block;	
		}
	}
	#maxmenu1 p:hover a{
		color:red;
	}
	#maxmenu1 #baihuo:hover .xiaobaihuo{
		color:red;
		border: 1px solid red;
	}
}
.chooselist{
	width: 980px;
	height: 43px;
	border:1px solid #f0f0f0;
	margin: 0 auto;
}
#chooselist1{
	margin-top: 20px;
}
#chooselist2{
	border-top: transparent;
}
#chooselist3{
	border-top: transparent;
}
.footer{
	overflow: hidden;
	width: 100%;
	#line{
		margin: 20px auto;
		width: 1050px;
		border-top: 1px solid #ccc; 
		.logofoot{
			padding: 20px 0;
			width: 100%;
			height: 50px;
			.lg1{
				float: left;
				display: block;
				width: 160px;
				height: 50px;
				background: url(../src/img/erweima2.jpg);
				background-position: 2px -76px;
				margin-left: 50px;
			}
			.lg2{
				float: left;
				display: block;
				width: 160px;
				height: 50px;
				background: url(../src/img/erweima2.jpg);
				background-position: -159px -76px;
				margin-left: 70px;
			}
			.lg3{
				float: left;
				display: block;
				width: 160px;
				height: 50px;
				background: url(../src/img/erweima2.jpg);
				background-position: -332px -76px;
				margin-left: 80px;
			}
			.lg4{
				float: left;
				display: block;
				width: 160px;
				height: 50px;
				background: url(../src/img/erweima2.jpg);
				background-position: -514px -76px;
				margin-left: 80px;
			}
		}
		.visitorlist{
			width:100%;
			height: 140px;
			dl{
				float:left;
				margin: 0 0 20px 40px;
				dt{
					font-size: 14px;
					font-weight: bold;
					padding-bottom: 10px;
				}
				dd{
					font-size: 12px;
					color:#ccc;
					line-height: 24px;
				}
				dd:hover a{
					color:red;
				}
			}
			.footpic{
					width: 240px;
					height: 125px;
					background: url(../src/img/erweima2.jpg);
					background-position-y: -343px;
					float: left;
					margin-left: 40px;
				}
			}
		#finally{
			width: 1050px;
			height: 200px;
			border-top: 1px solid #f0f0f0; 
			p{
				float: left;
				color:#ccc;
				font-size: 12px;
				margin: 25px 0 0 36px;
				a{
					margin: 0 5px;
					color:black;
				}
				a:hover{
					color:red;
				}
			}
		}
		#finally1{
			float: left;
			width: 980px;
			height: 54px;
			margin-top: 10px;
			#middlelogo{
				margin-left: 200px;
			}
		}
		#finallysize{
			width: 990px;
			height: 12px;
			font-size: 12px;
			float: left;
			text-align: center;
		}
	}
}